#menuSelecterWrap{
    width: 899px;
    height: 622px;
    background: rgba(0, 0, 0, 0.38);
   
    
}
#menuSelecterContent{
    width: 700px;
    height: 600px;
    background: #fff200;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
#menuSelecterCoffeeImg{
    height: 140px;
    margin: 35px;
    display: block;
    float: left;
}
#menuSelecterCoffeeName{
    display: block;
    float: left;
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
}
#menuSelecterSubscript{
    position: absolute;
    top: 130px;
    left: 254px;
    width: 313px;
    font-weight: bold;
}
#menuSelecter{
    width: 660px;
    height: 100px;
    background: whitesmoke;
    padding: 20px;
    clear: both;
}
#closeBtn{
    z-index: 100;
    width: 8%;
    float: right;
    cursor: pointer;
    transition: all .1s;
    transform: scale(1);
}
#closeBtn:hover{
    transform: scale(1.1);
}
#menuSelecterPrice{
    width: 500px;
    height: 100px;
    
    margin: 0 auto;
    line-height: 100px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.menuBtn{
    padding: 23px 13px;
    margin: 7px;
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;

    
}
.menuBtn:nth-child(1){
    background: skyblue;
}
.menuBtn:nth-child(2){
    background: salmon;
}
.menuBtn:nth-child(3){
    background: darkolivegreen;
}
.menuBtn:nth-child(4){
    background: yellow;
    color: black;
}
#menuAdd{
    width: 200px;
    margin: 0 auto;
    text-align: center;
    
    padding: 10px 20px;
    background: tomato;
    color: white;
    font-weight: bold;
    font-size: 2em;

}