@font-face{
    font-family: 'human';
    src: url(../font/휴먼견출모음t.TTF) format('truetype');
}
body{
    background: #efe303;
}
#mainWrap{
    /* width: 900px;
    max-height: 1080px;
    margin: 0 auto;
    background: #fff200;
    overflow: hidden; */
    margin-top: 100px;
    width: 900px;
    position: relative;
    background: #fff200;

    margin: 0 auto;
 
}
#header{
    width: 900px;
    height: 140px;
    background: #4c96d7;
}
#footer{
    width: 900px;
    height: 140px;
    background: #4c96d7;

}
#content{
    width: 900px;
    min-height: 621px;
    background: tan;
    position: relative;
    overflow: hidden;
}
#header img{
    margin: 0 18px;
    margin-top: 70px;
    float: left;
}
#headerBtnWrap{
    width: 724px;
    height: 117px;
    margin-top: 9px;
    float: left;
}
.headerBtn{
    width: 226px;
    height: 117px;
    background: #3867d6;
    border-radius: 10px;
    text-align: center;
    float: left;
}
.headerBtn:nth-child(2){
    margin: 0 23px;
}
.headerBtn span{
    /* color: white; */
    font-size: 72px;
    font-family: human;
    line-height: 117px;
    cursor: pointer;
    
}
#EaWrap{
    color: white;
    font-size: 50px;
    font-family: human;
    line-height: 140px;
    float: left;
}
#EA{
    margin-left: 20px;
}
#systemBtnWrap{
    width: 604px;
    height: 122px;
    float: right;
    margin-top:9px;

   
}
.systemBtn{
    width: 122px;
    height: 122px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}
#cartBtn{
    background: #6749ff;

    margin: 0 26px;
}
#cartBtn img{
    margin-top: 18px;
}

#cancelBtn{
    background: #d85a5a;
    
}
#cashBtn{
    background: #e67e22;
    margin: 0 26px;
}
#cardBtn{
    background: #e74c3c;
}
#cancelBtn span{
    font-size: 41px;
    padding: 20px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    display: block;
}
#cashBtn img{
    margin-top: 8px;
    margin-left: 7px;
}
#cashBtn div{
    text-align: center;
    color:white;
    font-size: 2em;
    font-weight: bold;
}
#cardBtn img{
    margin-top:13px;
    margin-left: 9px;
}
#cardBtn div{
    text-align: center;
    color:white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 6px;
}
#headerPrev,#headerNext{
    cursor: pointer;
    transition: all 0.1s;
    outline: none;
}

.swiper-slide:nth-child(2){
    background: #3867d6;
}
.swiper-slide:nth-child(1){
    background: #f3816d;
}
.coffeeMenuRow01{
    background: #fff200;    
    width: 900px;
    height: 600px;
    padding: 50px;
}
.coffeeMenu{
    width: 240px;
    height: 260px;
   transform: scale(1);
   transition: all .3s;
    overflow: hidden;
    float: left;
    cursor: pointer;
}
.coffeeMenu:hover{
    transform: scale(1.2);
}
.coffeeMenu:nth-child(2),.coffeeMenu:nth-child(5){
    margin: 0 37px;
}
.coffeeImg{
    /* width: 125px; */
    height: 140px;
    display:block;
    margin: 0 auto;
}
.coffeeName{
    display: block;
    font: 1.7em bold;
}
.coffeePrice{
    display: block;
    font-size: 1.3em;
}
#coffeeOption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-53%);
    z-index: 1000;

    
}
.isOptions{
    padding: 5px 10px;
    background: tan;
    margin: 10px;
    line-height: 150px;
    font-size: 1.3em;
    font-weight: bold;
    display: none;
    color:white;    
}
#Oice{
    background: skyblue;
}
#Ohot{
    background: salmon;
    display: inline;
}
#Osyrup{
    background: darkolivegreen;
}
#Oshot{
    background: yellow;
    color: black;
    border: 1px solid black;
}
#options{
    position: absolute;
    top: 0;
    left: 250px;    
}
#CoffeeCart{
    width: 200px;
    height: 621px;
    background: #3867d6;
    position: absolute;
    top: 0;
    z-index: 1000;
    left: 900px;
    
    transition: all .3s;
}
#CoffeeCartTop{
    width: 100%;
    height: 90%;
    background: #fff200;
    overflow: auto;

    
}
#CoffeeCartBot{
    width: 100%;
    height: 10%;
    line-height: 2;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color:white;
    
}
.orderCancelBtn{
 
}
.myOrderListImg{
    width: 50%;
    margin-left: 47px;
}
.myOrderListSub{
    font-weight: bold;
    display: block;
    text-align: center;
}
.orderCancelBtn{
    text-align: center;
    background: url(../img/xIcon.png);
    background-size: 101%;
    width: 30px;
    height: 30px;
    /* position: absolute; */
    float: right;
}
.orderCancelBtnimg{
    width: 12%;
    float: right;
}


#paymentCard{
    position: absolute;
}
#paymentCash{
    position: absolute;
    top: 140px;
    left: 0;
    z-index: 1231231;
}
#paymentDone{
    position: absolute;
    top:140px;
    left: 0;
    z-index: 99;
}