@font-face{
    font-family: 'human';
    src: url(../font/휴먼견출모음t.TTF) format('truetype');
}
body{
    background: #efe303;
}
#mainWrap{
    /* width: 900px;
    max-height: 1080px;
    margin: 0 auto;
    background: #fff200;
    overflow: hidden; */
    margin-top: 100px;
    width: 900px;

    background: #fff200;

    margin: 0 auto;
 
}
#header{
    width: 900px;
    height: 140px;
    background: #4c96d7;
}
#footer{
    width: 900px;
    height: 140px;
    background: #4c96d7;

}
#content{
    width: 900px;
    min-height: 621px;
    background: tan;
}
#header img{
    margin: 0 18px;
    margin-top: 70px;
    float: left;
}
#headerBtnWrap{
    width: 724px;
    height: 117px;
    margin-top: 9px;
    float: left;
}
.headerBtn{
    width: 226px;
    height: 117px;
    background: #3867d6;
    border-radius: 10px;
    text-align: center;
    float: left;
}
.headerBtn:nth-child(2){
    margin: 0 23px;
}
.headerBtn span{
    color: white;
    font-size: 72px;
    font-family: human;
    line-height: 117px;
    
}
#EaWrap{
    color: white;
    font-size: 50px;
    font-family: human;
    line-height: 140px;
    float: left;
}
#EA{
    margin-left: 20px;
}
#systemBtnWrap{
    width: 428px;
    height: 122px;
    float: right;
    margin-top:9px;

   
}
.systemBtn{
    width: 122px;
    height: 122px;
    float: left;
    border-radius: 10px;
    cursor: pointer;
}
#cancelBtn{
    background: #d85a5a;
    
}
#cashBtn{
    background: #e67e22;
    margin: 0 26px;
}
#cardBtn{
    background: #e74c3c;
}
#cancelBtn span{
    font-size: 41px;
    padding: 20px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    display: block;
}
#cashBtn img{
    margin-top: 8px;
    margin-left: 7px;
}
#cashBtn div{
    text-align: center;
    color:white;
    font-size: 2em;
    font-weight: bold;
}
#cardBtn img{
    margin-top:13px;
    margin-left: 9px;
}
#cardBtn div{
    text-align: center;
    color:white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 6px;
}
#headerPrev,#headerNext{
    cursor: pointer;
    transition: all 0.1s;
    outline: none;
}

.swiper-slide:nth-child(2){
    background: #3867d6;
}
.swiper-slide:nth-child(1){
    background: #f3816d;
}
.coffeeMenuRow01{
    background: #fff200;    
    width: 900px;
    height: 600px;
    padding: 50px;
}
.coffeeMenu{
    width: 240px;
    height: 260px;
    border: 1px solid black;
    overflow: hidden;
    float: left;
}
.coffeeMenu:nth-child(2),.coffeeMenu:nth-child(5){
    margin: 0 37px;
}
.coffeeImg{
    /* width: 125px; */
    height: 140px;
    display:block;
    margin: 0 auto;
}
.coffeeName{
    display: block;
    font: 2em bold;
}
.coffeePrice{
    display: block;
}
#coffeeOption{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000; */
    float: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;

    
}